{% extends 'quiz/base.html' %}
{% block content %}

<h1>Question</h1>
<p>{{question.text}}</p>
<p>Question:{{game.current_question_index|add:"1"}}/{{game.total_number_of_questions}}</p>
<p>Score:{{game.total_score}}</p>
<form action="{% url 'quiz:question' game.id %}" method="post">
	{% csrf_token %}
		{% for answer in answers %}
		<div class="form-check">
			<input class="form-check-input" type="radio" name="player_answer" value={{answer}}>
			<label class="form-check-label" for="player_answer">
			  {{answer}}
			</label>
		</div>
		{% endfor %}
		<button type="submit" class="btn btn-primary">next</button>
	</form>




{% endblock content %}